#h1{
    font-size: 40px;
    text-indent: 10px;
}

#label1{
    font-size: 25px;
}

#label2{
    font-size: 25px;
}
#label3{
    font-size: 25px;
}
#label4{
    font-size: 25px;
}

#label5{
    font-size: 25px;   
}
#label6{
    font-size: 25px;
}